.bitelist{
	min-height:100vh;
	background-color: #223E7B;
}
.gibson{
	min-height:100vh;
	background-color:#ffb34d;
}
.dotstar{
	min-height:100vh;
	background-color:#e8e7e7;
}
.row{
	margin-right:0px;
}
.center{
	text-align:center;
	align-items: center;
	justify-content:center;
}
.site-image{
	margin-top:5vh;
	max-width:100%;
	height:auto;
}
.fade{
	opacity: 0;
	transition: 1s linear all;
	-webkit-transition: 1s linear all;
	-moz-transition: 1s linear all;
}

.fadein{
	opacity: 1;
}

.logo-image
{
	max-width:100%;
	height:auto;	
}
.contributions-background{
	background: linear-gradient(to right, rgba(0,0,0,0.5)100%,rgba(0,0,0,0.6)100%),
	url("/images/background.jpg")
	center / cover
	no-repeat
	fixed;
}
@media only screen and (max-device-width:768px){
	.contributions
	.bitelist{
		min-height:50vh;

	}
	.m-bitelist-text
	{
		font-size:40px;
	}
	.dotstar{
		min-height:50vh;
	}
	.gibson{
		min-height:60vh;
	}
}