.oswald-font{
	font-family:"Oswald",Arial,sans-serif;

}
.roboto-font{
	font-family:"roboto",Arial,sans-serif;
}
.opensans-font{
	font-family:"Open Sans",Arial,sans-serif;
}
.quicksand-font{
	font-family:"Quicksand", Arial,sans-serif;
}
.raleway-font{
	font-family:"Raleway",Arial,sans-serif;

}
.extend-margin-top
{
	margin-top:10vh;
}
.extend-line-height
{
	line-height:2;
}
.header-underline {
    margin: 20px auto;
    max-width: 200px;
    height: 3px;
    border-top:solid 1px #c3c3c3;
 }

h1{
	font-size:50px;
	color:black;
}
.remove-margin-bottom
{
	margin-bottom:0;
}
.p-text{
	margin-top:2vh;
	font-size:20px;
	margin-bottom:5vh;
}
.white-text{
	color:white;
}
small{
	font-size:70%;
}
.font-border{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@media only screen and (max-device-width: 768px){
	h1{
		font-size: 64px;
	}

	h2{
		font-size: 52px;
	}

	h3{
		font-size: 36px;
	}

	body{
		font-size: 28px;
	}

	.m-text-padding{
		padding-left: 5%; padding-right: 5%;
	}
}