.navbar{
	border-radius:0px;
	margin-bottom:0px;
	padding-right:20px;
	border-color:transparent;
	transition:ease-in-out, all 0.7s;
	-webkit-transition:ease-in-out, all 0.7s;
	-moz-transition:ease-in-out, all 0.7s;
}
nav:hover
{
	background:white;
}
.navbar-default .navbar-nav>li>a{
	color:#337ab7;
}
.navbar-transparent{
	background:transparent;
}
.nav>li>a{
	padding-top:20px;
	padding-bottom:20px;
	font-size:20px;
}
.nav>li>a:hover{
	background:transparent;
	cursor:pointer;
}
.navbar-shadow{
	box-shadow:0px 5px 5px 0px rgba(0,0,0,0.3);
}
.navbar-white{
	background:white;
}
@media (max-width:360px){
	.navbar-toggle .navbar-toggle-span{
		margin-top:5px;
        display: block;
        width: 100%;
        border-radius: 1px;
    }
	.navbar-toggle
	{	
		display:block;
		margin-top:30px;
		margin-right:30px;
		width: 66px;
		height:62px;
		margin-bottom:30px;
	}
	.navbar-collapse {
        padding-right: 0px;
        border-color:transparent;
    }

    .navbar-toggle .navbar-toggle-span{
        display: block;
        width: 100%;
        border-radius: 1px;
    }
    .navbar-header{
		float:none;
	}
	.navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav>li
    {
    	text-align:right;
    	float:none;
    }
 .collapse.in{
  		display:block !important;
	}
}