<div class= "text-center">
		<h1 class = "quicksand-font">About</h1>
		<hr class = "header-underline">
		<p class = " raleway-font p-text extend-line-height">Hey everyone! This website is a relic of the past, <br>something that spawned two years ago as a result of pro bono work.
		<br>I'm revamping it currently, and it will be amazing! <br>  Please stay tuned to my progress as a developer, and contact me if you have any questions at <b>situ_william@yahoo.com</b> or my linkedin.
		</p>

		<h1 class = "quicksand-font">Current Status</h1>
		<hr class = "header-underline">
		<p class="raleway-font p-text extend-line-height">Learning new technologies and studying at Bitmaker.
		<br>Freelancing, coding, and cooking.
		</p>
</div>