<div class = "text-center row contributions-background">
	<h1 class = "quicksand-font white-text extend-margin-top">Contributions</h1>
	<hr class = "header-underline">
	<div  class ="raleway-font p-text col-md-offset-2 col-md-8">
		<p class = "white-text">Below are the websites i've developed as part of Dotstar's Front-End development team.
		</p>
	</div>
</div>
<div class = "row bitelist" id="bitelist">
	<div class = "col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4 col-xs-offset-1 col-xs-10">
		<a href="http://bitelist.ca" target="_blank"><img src ="images/combined-bitelistshadow.png" class = "site-image"></a>
		<div class = "center">
			<img src = " images/bitelist-02-transparent2.png">
		</div>
		<div class = "col-md-12 col-sm-12 text-center">
			<p class = "raleway-font p-text white-text">Designed and developed a theme for Bitelist, a mobile app that searches for bargains and food discounts within Toronto. </p>
		</div>
	</div>
</div>
<!-- <div class = "row gibson" id="gibson">
	<div class = "col-md-offset-2 col-md-8 col-lg-offset-3 col-lg-6 col-xs-offset-1 col-xs-10">
		<a href="https://account.105gibson.com" target="_blank"><img src="images/combined-gibson2-login.png" class = "site-image"></a>
		<div class = "center">

			<img src = " images/gibsonlogo.png">
		</div>
		<div class = "col-md-12 text-center">
				<p class = "raleway-font p-text">Worked on the front end design of a website for 105 Gibson Centre, a community center located in Markham that hosts various events and services for the youth and the community.</p>
				<div class = "center"><p>&#42; Website not fully released yet.</p></div>
		</div>
	</div>
</div> -->
<div class = "row dotstar" id="dotstar">
	<div class = "col-md-offset-4 col-md-4 col-xs-offset-1 col-xs-10">
		<a href="http://dotstar.io" target="_blank"><img src="images/combined-dotstar2.png" class = "site-image"></a>
		<div class = "center">
			<img src = " images/dotstar.png">
		</div>
		<div class = "col-md-12 text-center">
			<p class = "raleway-font p-text">Participated in web design and image editing for our company website, DotStar.</p>
		</div>
	</div>
</div>
