<div ng-include src = "'/views/index/partials/navbar.html'" id = "navbar"></div>
<div ng-include src = "'/views/index/partials/intro.html'" id = "intro"></div>
<div class = "fade" ng-include src = "'/views/index/partials/about.html'" id = "about" ng-fade-in-element></div>
<div class = "fade" ng-include src = "'/views/index/partials/contributions.html'" id = "contributions" ng-fade-in-element></div>
<div class = "fade" ng-include src = "'/views/index/partials/contact.html'" id = "contact" ng-fade-in-element></div>