<!--future particles-->
<canvas id="particles" ng-particles></canvas>
	<div class = "intro-center enlarged-text quicksand-font font-border text-center">
		<h1 class = "white-text remove-margin-bottom">William Situ</h1>
		<small class = "white-text"> Web Developer</small>
		<p>
		<a  href="https://github.com/Buraisx/" target="_blank"><i class = "fa fa-github"></i></a>
		<a href="https://www.linkedin.com/in/william-situ-1a466895" target="_blank"><i class = "fa fa-linkedin-square"></i></a>
		<a href="mailto:situ_william@yahoo.com" target="_blank"><i class = "fa fa-envelope"></i></a>
		</p>
	</div>